@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Roboto Slab", serif;
}

header {
  text-align: center;
  padding: 1rem 2rem;
}

.header {
  color: #059669;
  font-size: xx-large;
}

td {
  border: 2.5px solid #059669;
  margin: 0;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 60%;
  border: solid 2.5px #059669;
}

.section-bill {
  text-align: center;
  margin: 0rem;
  font-weight: bold;
  font-size: large;
}

.section-cash {
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  font-size: large;
}

.check-button {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #059669;
  cursor: pointer;
}

.continue-btn {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #059669;
  cursor: pointer;
}

#bill-amount {
  display: block;
  margin: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px #059669 solid;
}

#cash-given {
  display: block;
  margin: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px #059669 solid;
}

caption {
  font-size: x-large;
  margin: 1rem;
}

.error-message {
  text-align: center;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 2rem;
}

footer ul li {
  display: inline;
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0;
}

footer ul li a {
  padding: 0rem 0.5rem;
  text-decoration: none;
  color: #059669;
}
